@keyframes pulse {
  0%,
  100% {
    background-color: #b6bcbb;
  }
  50% {
    background-color: #109982;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.App {
  width: 316px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.notLoaded {
  animation: pulse 2s infinite;
  background-color: #b6bcbb;
  margin-left: auto;
  margin-right: auto;
  height: 383px;
  width: 316px;
}

.titleFirst {
  margin-top: 8px;
  height: 20px;
  width: 250px;
  margin-left: 0;
}

.titleSecond {
  margin-top: 8px;
  height: 20px;
  width: 150px;
  margin-left: 0;
}

.addToBag {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.8px;
  background: transparent;
  border: 2px solid #00aa5b;
  cursor: pointer;
  color: inherit;
  padding: 4px 0;
  text-transform: uppercase;
  width: 100%;
  margin-top: 40px;
}

.addToBagPlaceholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.8px;
  background: transparent;
  cursor: pointer;
  color: inherit;
  padding: 4px 0;
  text-transform: uppercase;
  width: 100%;
  margin-top: 40px;
  height: 32px;
}
